* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
*.md text eol=lf
*.py text eol=lf
*.json text eol=lf
*.jsonl text eol=lf
*.txt text eol=lf
*.toml text eol=lf
*.ps1 text eol=crlf

*.pdf binary
*.pt binary
